<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
	<script src="{{ url_for('static', filename= 'js/main.js') }}"></script> 
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>
<body onload="init()">

	<div class="center">

	<div class="topnav">
		<a href="#">Home</a>
		<a href="#">Map</a>
	</div>
	  
	<div class="content">
		<h2>Trash detection</h2>
		<h3>Select photo</h3>
		<dev>
			<p>
				<input id="fileInput" type="file" name="file" autocomplete="off">
			</p>
		</dev>
	</div>  
	<div class="footer">
		<p></p>
	</div>

	</div> 

	<!-- The Modal -->
	<div id="myModal" class="modal">	
		<!-- The Close Button -->
		<span class="close">&times;</span>
		<!-- Modal Content (The Image) -->
		<img class="modal-content" id="img01">
		<!-- Modal Caption (Image Text) -->
		<div id="caption"></div>
	</div> 
	
</body>
</html>
